.mainContainer{
    color: rgb(229, 226, 226);
    text-align: center;
    width:40%;
    margin:0 auto;
    transform: translateY(50%) ;
}

@media screen and (max-width: 1600px){
    .mainContainer{
        transform: translateY(30%) ;
    }
}



  
  

