.containerNav{
    padding: 1% 2% 1% 2%
}

.home-nav {
    width: 100%;

}

.home-nav div{
    display: inline-block;
}


.test ul {
    display:flex;
    list-style: none;
    color:white;
    
}

.rightLink{
    right:0;
}

.containerRight{
    float: right;
    color:white
}



.containerRight div + div{
    margin-left: 2.5em;
}

.optionInput{
    color: white;
}




