@media screen and (max-width: 1100px) {

    .logoContainer{
        width: 20%;
        margin-top:10px;
        vertical-align: middle;
    }
    
    
    .containerRight div + div{
        margin-top:10px;
        margin-left: 10px;
    }

}