@media screen and (max-width: 500px){
    
    nav{
        text-align: center;
    }
    .logoContainer{
        width: 30%;
        margin-top:10px;
        margin-right:10px;
        vertical-align: middle;
    }
    
    .containerRight{
        float: none;
    }
    
    .containerRight div + div{
        margin-left: 10px;
    }
    


}