@media screen and (max-width: 500px){
    
    nav{
        text-align: center;
    }

    .containerRight{
        float: none;
    }
    
    .containerRight div + div{
        margin-left: 10px;
    }
}