.home-nav {
    width: 100%;
}

.home-nav div{
    display: inline-block;
}

.logoContainer{
    width: 10%;    
}
.logo{
    width: 100%;   
}

.containerRight{
    float: right;
}

.containerRight div + div{
    margin-left: 2.5em;
}

.optionInput{
    color: white;
}

.select-menu select {
    background-color: rgba(19, 19, 19, 0.3);
    color: white;
    border: 0;
}

.iconGlobe{
    color: white;

}