body,html {
  margin: 0;
  background-color: #141414;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


h1{
  color:rgb(199, 199, 199);
}

.background{
  background-image: url('./assets/images/background.jpg');
}

.appContainer{
  margin-left:1%;
}

.fullwidth{
  height: 100vh;

}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.fakeLink{
  cursor:pointer;
}

.fakeLink:hover{
  text-decoration: underline;
}
