body,html {
  margin: 0;
  background-color: #141414;
}

.background{
  background-image: url('./assets/images/background.jpg');
  
}

.appContainer{
  margin-left:1%;
  margin-right:1%;
}

.fullwidth{
  height: 100vh;

}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.fakeLink{
  cursor:pointer;
}

.fakeLink:hover{
  text-decoration: underline;
}



/* @media screen and (max-width: 1100px) {
  
} */



/* @media screen and (max-width: 500px){
  .overlay{
      padding: 1%;
  }


} */