.formContainer{
    margin-top: 20px;
}

.inputEmail{
    background-color:white;
    border: 1px solid gray; 
    width:50%;
}

.buttonStart{
    width:40%;
    height:50px;
    font-size: 1.5em;
    border-radius: 0;
}

.buttonStart{
    font-size: 1.4em;
}